@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    background-color: #333;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='250' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.05'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 60px;
}

header,
.section,
footer {
    max-width: 1500px;
    margin: 0px auto;
}

.section {
    background: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 800px;
}

.title {
    font-size: 30px;
    font-weight: 700;
}

.bold {
    font-weight: 700;
}

.gold {
    color: #ffb300;
}

.green-bg {
    position: relative;
    padding: 40px 20px;
    background: #39654e;
    color: #fff;
    text-align: center;
}

.btn-gold a {
    background: #ffb300;
    border-radius: 35px;
    padding: 15px 35px;
    font-size: 22px;
    font-weight: 700;
    display: block;
    color: #000;
    text-decoration: none;
}

.btn-gold a:hover {
    background: #fff;
    color: #000;
}


.masthead {
    position: relative;
    background: #000;
}

.masthead img {
    max-width: 100%;
}

.masthead .content {
    color: #fff;
    position: absolute;
    bottom: 30px;
    padding: 25px 75px;
    text-align: left;
    max-width: 725px;
}

.masthead .content .title {
    font-size: 45px;
}

.masthead .logo-desktop > img {
    max-width: 600px;
    position: absolute;
    top: 30px;
    left: 30px;
    display: block;
}

.masthead .logo-mobile > img {
    display: none;
}

.programs,
.form,
.thanks,
.top-content {
    background: #fff;
    padding: 40px 20px;
}

.top-content {
    font-size: 18px;
    padding: 100px 50px;
}

.top-content .icon {
    font-size: 75px;
    color: #ffb300;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 100px;
}

.dept-box .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    margin: 0px auto;
    align-items: center;
    background: #39654e;
}

.dept-box .grid .content {
    padding: 100px;
    color: #fff;
}

.btm-content {
    position: relative;
    padding: 100px 20px;
    background: #000;
    color: #fff;
    text-align: center;
    font-size: 24px;
}

.btm-content .title {
    font-size: 50px;
}

footer {
    background: #222;
    color: #ccc;
    padding: 40px;
    font-size: 18px;
}

footer p {
    margin-bottom: 5px;
}

footer a {
    color: inherit;
    font-weight: 700;
    transition: 200ms ease;
}

footer a:hover {
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 997px) {
    body {
        font-size: 16px;
    }

    h1 {
        font-size: 30px;
    }

    .masthead .content {
        position: relative;
        bottom: 0;
        padding: 25px;
        text-align: left;
        max-width: 100%;
    }

    .masthead .content .title {
        font-size: 25px;
    }

    .masthead .logo-desktop > img {
        display: none;
    }

    .masthead .logo-mobile > img {
        max-width: 300px;
        position: absolute;
        top: 10px;
        left: 10px;
        display: inherit;
    }

    .btn-gold a {
        border-radius: 30px;
        padding: 10px 25px;
        font-size: 20px;
        font-weight: 700;

    }

    .top-content {
        font-size: 16px;
        padding: 50px 30px;
    }

    .top-content .title {
        font-size: 25px;
    }

    .grid {
        grid-template-columns: auto;
        grid-gap: 30px;
    }

    .dept-box .grid {
        grid-template-columns: auto;
    }

    .dept-box .grid .content {
        padding: 30px;
    }

    .btm-content {
        font-size: 20px;
    }

    .btm-content .title {
        font-size: 45px;
    }
}
